apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{scaledobject_name}}
  namespace: {{namespace}}
  labels:
    app.kubernetes.io/managed-by: "predictkube"
  annotations:
    ifo-scaler.predictkube.com/ifos: "{{ifos_info}}"
    ifo-scaler.predictkube.com/checksum: "{{settings_checksum}}"
spec:
  maxReplicaCount: {{ maxReplicaCount }}
  minReplicaCount: {{ minReplicaCount }}
  pollingInterval: {{ pollingInterval }}
  idleReplicaCount: {{ idleReplicaCount }}
  scaleTargetRef:
    apiVersion: {{target_api_version}}
    kind: {{target_kind}}
    name: {{target_name}}
  triggers:
  {{ triggers | indent(width=2) }}
  {%- for t in ifo_triggers %}
  - type: cron
    metadata:
      # IFO {{t.name}} with contact address {{t.address}}
      timezone: {{timezone}}
      start: {{t.start_cron}}
      end: {{t.end_cron}}
      desiredReplicas: "{{replicas}}"
  {%- endfor %}